{% extends "base.html" %} <!-- 应用 base.html模板 -->
{% import "bootstrap/wtf.html" as wtf %} <!-- 引入 -->

{% block title %}这里是标题{% endblock %}

{% block page_content %}
<div class="page-header">
    {{ super() }} 
    <h1>Hello ，{% if name %}{{ name }}{% else %}游客{% endif %}</h1>
    {% if known %}
    <p>欢迎回来！</p>
    {% endif %}
    <p>现在是：{{ moment(current_time).format('lll') }}</p>
    <p>上次更新：{{ moment(current_time).fromNow(refresh=True) }}</p>
</div>

<!-- 表单。可以为传入的字段指定属性，然后定义CSS样式 -->
<!-- 如果已经登录，这部分将不再显示（因为user_id已不为空） -->
<!-- 登录的页面切换逻辑由前端确定 -->
{% if 0 %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.user_id.label }} {{ form.user_id(id='my-text-field') }}
    {{ form.submit() }}
</form>
<!-- 上面5行可以用一句 {{wtf.quick_form(form) }} 代替（把条件的1改为0可以看到效果） -->
{% else %}
{{wtf.quick_form(form) }}
{% endif %}
{% endblock %}
